[Unit]
Description=Telegram Bot Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/pctchkr
Environment=PATH=/root/pctchkr/venv/bin
ExecStart=/root/pctchkr/venv/bin/python /root/pctchkr/main.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target 